.black{
    color: black;
    background-color: white;
}

.recipe-intro-wrapper {
  background-color:#D17D7D;
  display: flex;
  flex-direction: column;
}

.recipe-intro-wrapper > * {
  flex-basis: 50%;
}

@media (min-width: 624px) {
  .recipe-intro-wrapper {
    flex-direction: row;
  }
}


.latest-recipe-info {
    padding: 1.5rem;
}
.recipe-titlecard-info {
    font-family: Raleway;
    color: white;
    text-align: center;
}
.recipe-summary {
  font-size: 1rem;
  font-weight: 500;
}
.time {
 font-size:0.59rem;
}
.title-recipe-pic{
    max-width:100%;
    display:block;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 15px;
}
.ingredients-wrapper{
    margin: 1rem;
}
.ingredients-main h3{
    font-family: Poppins;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.ingredients-main p{
    font-family: Raleway;
    font-weight: 700;
    margin: 0px;
}
.grid-container{
    display:grid;
    font-family: Raleway;
    font-weight: 700;
    grid-gap:0.5rem 1rem;
    margin-top: 1rem;
}
.grid-item-amount{
    grid-column: 1 / auto;
}
.grid-item-subst{
    grid-column: 2 / auto;
}
.steps{
   font-family: Raleway; 
   margin: 1rem;
   margin-bottom: 1.5rem;
}
ol{
    font-weight: 700;
    list-style: none;
    margin:0.75rem;
    margin-left: 0;
    counter-reset: my-awesome-counter;
    padding: 0px;
}
ol li{
    margin-bottom: 0.5rem;
    counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color:#D17D7D;
  font-weight: 700;
}
.steps h3{
    font-family: Poppins;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.notes{
    margin: 1rem;
}
.notes h3{
    font-family: Poppins;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.notes h4{
    color:#D17D7D;
    font-size: 1rem;
    font-family: Raleway;
    font-weight: 700;
    margin-bottom: 0rem;
}
.notes p{
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 700;
}
html {
  font-size: 14px;
  line-height: 1.1;
}

@media (min-width: 800px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 280px) {
  html {
    font-size: calc(14px + 10 * ((100vw - 320px) / 1640));
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 48px;
  }
} 