html {
  font-size: 14px;
  line-height: 1.1;
}
.recipe-intro-wrapper {
  background-color: #d17d7d;
  display: flex;
  flex-direction: column;
}
.recipe-intro-wrapper > * {
  flex-basis: 50%;
}
@media (min-width: 624px) {
  .recipe-intro-wrapper {
    flex-direction: row;
  }
}
.latest-recipe-info {
  padding: 1.5rem;
}
.recipe-titlecard-info {
  color: white;
  font-family: Raleway;
  text-align: center;
}
.recipe-summary {
  font-size: clamp(1rem, 1.2vw, 1.5rem) !important;
  font-weight: 600;
}
.time {
  font-size: clamp(0.86rem, 1vw, 1rem) !important;
}
.title-recipe-pic {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 15px;
}
.ingredients-wrapper {
  margin: 8vw;
}
@media (min-width: 624px) {
  .ingredients-wrapper > * {
    flex-basis: 50%;
  }
  .ingredients-wrapper {
    display: flex;
    flex-direction: row;
    margin: 8vw;
  }
}
.ingredients-main h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: Poppins;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.ingredients-main p {
  font-family: Raleway;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 700;
  margin: 0px;
}
.ingredients {
  font-family: Raleway;
  font-weight: 600;
  line-height: 1.5;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ingredients li {
  margin-bottom: 0.5rem;
}
.ingredients-list {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}
.steps {
  font-family: Raleway;
  margin-bottom: 3vh;
}
.steps h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: Poppins;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
ol {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 500;
  list-style: none;
  margin: 0.75rem;
  margin-left: 0;
  counter-reset: my-awesome-counter;
  padding: 0px;
}
ol li {
  counter-increment: my-awesome-counter;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #d17d7d;
  font-weight: 700;
}
video {
  width: 100%;
  height: auto;
}
@media (min-width: 800px) {
  .video-container {
    margin: 12vw;
  }
}
