html {
  font-size: 14px;
  line-height: 1.1;
}
/* .black{
    color: black;
    background-color: white;
} */
.recipe-intro-wrapper {
  background-color:#D17D7D;
  display: flex;
  flex-direction: column;
}
.recipe-intro-wrapper > * {
  flex-basis: 50%;
}
@media (min-width: 624px) {
  .recipe-intro-wrapper {
    flex-direction: row;
  }
}
.latest-recipe-info {
    padding: 1.5rem;
}
.recipe-titlecard-info {
    color: white;
    font-family: Raleway;
    text-align: center;
}
.recipe-summary {
  font-size: clamp(1rem, 3vw, 1.8rem);
  font-weight: 500;
}
.time {
 font-size:0.59rem;
}
.title-recipe-pic{
    max-width:100%;
    display:block;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 15px;
}
.ingredients-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2vw;   
}
.ingredients-main h3{
    font-size: clamp(1rem, 3vw, 2rem);
    font-family: Poppins;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* make all the h3s on the page same so it would be easier, aka steps h3 */
.ingredients-main p{
    font-family: Raleway;
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 700;
    margin: 0px;
}
 @media (min-width: 800px) {
  .ingredients-wrapper > * {
    flex-basis: 50%;
  }
}
  @media (min-width: 800px) {
  .ingredients-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8vw;

  }
}
.ingredients{
    font-family: Raleway;
    font-weight: 500;
    line-height: 1.5;
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}
.ingredients-list{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}
.steps{
   font-family: Raleway; 
   margin-bottom: 3vh;
   max-width: 50%;
}
.steps h3{
    font-size:clamp(1rem, 3vw, 2rem);
    font-family: Poppins;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
ol{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 500;
    list-style: none;
    margin:0.75rem;
    margin-left: 0;
    counter-reset: my-awesome-counter;
    padding: 0px;
}
ol li{
    margin-bottom: 0.5rem;
    counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color:#D17D7D;
  font-weight: 700;
}

/* .notes{
    margin: 1rem;
}
.notes h3{
    font-family: Poppins;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.notes h4{
    color:#D17D7D;
    font-size: 1rem;
    font-family: Raleway;
    font-weight: 700;
    margin-bottom: 0rem;
}
.notes p{
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 700;
} */
