html {
  font-size: 14px;
  line-height: 1.1;
}
.font_1{
  color: white;
  font-family: Poppins;
  text-align: center;
}
/* main {
  margin: 0 auto;
  max-width: 900px;
} */
.header{
  position:relative;
}
.brand-name{
  position: fixed;
  text-align: center;
  width: 100%;
}
h1 {
  color: white;
  font-weight: 700;
  font-size: clamp(1.2rem,4vw,2.1rem); 
  /* responsive brand name */
  font-family: Poppins;
  line-height: 1.5rem;
  margin-top: 1vh;
}
.header-image{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    /* the added property makes the landing image cover the full view height and width */
    /* min-height: 62vh;
    width: 100%; */
}

.text-overlay {
  /* color: white;
  font-family: Poppins; */
  font-size: clamp(1.5rem,2.5vw,3.4rem);
  left: 50%;
  padding: 1rem;
  position: absolute;
  /* text-align: center; */
  top: 45%;
  transform: translate(-50%, -50%);
}

.latest-recipe-wrapper{
  background-color: #D17D7D;
}

@media (min-width: 800px) {
  .latest-recipe-wrapper > * {
    flex-basis: 50%;
  }
  .latest-recipe-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 6vw;
    margin-bottom: 4vw;
  }
}
.text-wrapper{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.latest{
  /* color: white;
  font-family:Poppins; */
  font-size: clamp(1rem, 3vw, 3rem);
  font-weight:700;
  text-decoration: underline;
  /* text-align: center; */
}
.title{
  /* color: white;
  font-family: Poppins; */
  font-size: clamp(1rem, 4vw, 4rem);
  font-weight: 600;
  margin-bottom:5px;
  margin-top: 0;
  padding-top: 1.5rem;
  /* text-align: center; */
}
.latest-recipe-info p{
  /* color: white;
  font-family: Poppins; */
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  margin-bottom: 1rem;
  margin-top: 0px;
  /* text-align: center; */
}
.latest-recipe-extra{
  color:white;
  font-family: Raleway;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 600;
  margin: 0 auto;
  margin-bottom:20px;
  max-width: 92%;
  text-align: center;
}
.button-recipe{
  background: #D17D7D;
  border: none;
  color: white;
  font-family: Poppins;
  font-size: clamp(1rem,2vw,1.5rem);
  font-weight: 500;
  padding: .6rem 2.5rem;
  margin-bottom: 20px;
}
.title-list{
  /* font-family: Poppins; */
  font-size: clamp(1rem, 2.5vw, 3rem);
  margin: 0.5rem;
  /* text-align: center; */
  color: black;
}
.recipe-card-wrap {
  background: white;
  box-sizing: border-box;
  font-family: Poppins;
  /* max-width: 100%;
  overflow: auto;
  resize: horizontal; */
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
a{
  text-decoration: none;
}
a:hover{
  cursor:pointer;
}
a:visited{
  color: black;
}
.recipe-card-wrap h3{
  display: inline;
  font-size:clamp(1rem, 2vw, 1.5rem);
}
.recipe-card-wrap p{
  display: inline;
  float: right;
  font-size: clamp(0.9rem, 1vw, 1.5rem);
  margin: 0px;
}
.card-text{
  margin-top: 0.5rem;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 2vw;
  margin-left: 3vw;
  margin-right:3vw;
}
.list > * {
  flex-basis: 100%;
}

@media (min-width: 800px) {
  .list > * {
    flex-basis: calc(100%/3);
  }
  /* having 3 cards displayed on recipe section */
}
/* .image {
  width: 50%;
  height: 50%;
} */
/* .image-contain {
  object-fit: contain;
  object-position: center;
} */
.recipe-img {
  width: 100%;
  padding-bottom: 75%;
  background-size: cover;
}
.recipe-img.square {
  padding-bottom: 100%;
}
.recipe-img-4{
  background-position: 50% 75%;
  width: 100%;
  padding-bottom: 75%;
  background-size: cover;
}

/* @media (min-width: 800px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 48px;
  }
} */
@media (min-width: 800px) {
  .about-me-wrapper > * {
    flex-basis: 50%;
  }
}
.about-me-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10vw;
    margin-bottom: 2vw;
    background-color:#D17D7D;

}
.about-me-text{
  color: white;
  font-family: Raleway;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 500;
  margin: 0 auto;
  margin-bottom:20px;
  max-width: 92%;
  text-align: center;
}